@model IEnumerable<AdminParcial.Models.DB.Terreno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Solvencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propietario.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Solvencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propietario.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Terreno }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Terreno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Terreno })
        </td>
    </tr>
}

</table>
