@model IEnumerable<AdminParcial.Models.DB.Recibo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pago_Detalle.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terreno.Lote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pago_Detalle.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Terreno.Lote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Recibo }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id_Recibo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Recibo }) |
            @Html.ActionLink("Impresion", "Impresion", new { id = item.Id_Recibo })
        </td>
    </tr>
}

</table>
